.logo {
  display: flex;
  flex: 2;
}

.logo h1 {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.logo small {
  font-size: 1rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .logo {
    justify-content: center;
  }
}
