.a {
  --active-color: #fff;
  --background: none;
  --text-color: var(--color-primary);
  --hover-color: var(--color-accent);
  background: var(--background);
  color: var(--text-color);
  position: relative;
  transition: 0.1s ease-out;
}

.active {
  color: #fff;
}

.a:hover {
  color: var(--hover-color);
}
