.contact {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 500px;
}

.contact label,
.contact button,
.contact legend {
  flex: 1;
}

.contact label {
  display: flex;
}

.contact label span {
  flex: 1;
}

.contact label input,
.contact label textarea {
  flex: 2;
}

.contact input {
  height: 44px;
  padding: 0 8px;
}

.contact textarea {
  height: 88px;
  padding: 8px;
}
