.banner {
  position: relative;
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.overlay div {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.overlay h1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: 0.3s cubic-bezier(0.59, -0.39, 0.42, 1.52);
}

.overlay b {
  color: #111;
  font-family: 'Cinzel', serif;
  font-size: clamp(1rem, 4vw, 4rem);
  text-align: center;
}

.overlay small {
  color: var(--color-primary);
  font-family: 'Cinzel', serif;
  font-size: clamp(0.8rem, 2vw, 2rem);
}

@media (max-width: 499px) {
  .banner {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .overlay {
    padding: 8px;
    position: static;
  }

  .overlay b {
    font-size: clamp(1rem, 8vw, 4rem);
  }

  .overlay small {
    font-size: clamp(0.8rem, 4vw, 2rem);
  }

  .overlay > div:last-child {
    display: none;
  }
}
