.nav {
  display: flex;
  flex: 1;
}

.nav a {
  display: flex;
  flex: 1;
  padding: 4px;
  transition: 0.1s ease-out;
}

.nav span {
  margin: auto;
}

.nav .active {
  background: var(--color-accent);
}

@media (max-width: 768px) {
  .nav {
    background: var(--color-primary);
    bottom: 0;
    height: 44px;
    left: 0;
    position: fixed;
    right: 0;
  }
}

@media (min-width: 1024px) {
  .nav a:hover {
    background: var(--color-accent);
  }
}
