.strip {
  background: #ebebeb;
  box-shadow: 0 4px 16px #555;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  z-index: 1;
}

.strip h2 {
  color: var(--color-primary);
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
}
