.button {
  --background-color: var(--color-primary);
  --background-animation-color: var(--color-accent);
  --radius: 8px;
  --transition: 0.3s ease-out;
  --transition-bezier: 0.5s cubic-bezier(0.59, -0.39, 0.42, 1.52);
  align-items: center;
  background: transparent;
  border: none;
  border-radius: var(--radius);
  color: #fff;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 8px;
  position: relative;
  text-transform: uppercase;
  transition: var(--transition);
  z-index: 1;
}

.button::before {
  background: var(--background-color);
  border-radius: var(--radius);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}

.button::after {
  background: var(--color-accent);
  content: '';
  height: 0;
  width: 100%;
  position: absolute;
  transition: 0.2s ease-out;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.button span {
  flex: 1;
  transition: var(--transition-bezier);
}

.button svg {
  fill: #fff;
  transform: scale(0.8);
  transition: var(--transition-bezier);
}

.button strong {
  flex: 2;
  font-size: 1.3rem;
  transition: var(--transition-bezier);
}

.button:hover svg {
  fill: #111;
  transform: scale(1);
}

.button:hover strong {
  color: #111;
  transform: rotate(-5deg) scale(1.3) translate(-5px, -2px);
}

.button:hover::after {
  height: 100%;
}
