.lessons-menu {
  display: flex;
  gap: 1px;
}

.lessons-menu button[class*='button'] {
  --border-radius: 0;
  align-items: center;
  justify-content: center;
}

.lessons-menu strong {
  display: flex;
  padding: 12px;
}
