.lessons-menu {
  display: flex;
}

.lessons-menu a {
  --active-color: #111;
  --active-background-color: var(--color-accent);
  --background: rgb(60, 60, 60);
  --text-color: #fff;
  --hover-color: black;
  --hover-background-color: var(--color-accent);
  align-items: center;
  border: none;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 24px;
  text-align: center;
}
