.performances {
  background: #ebebeb;
  box-shadow: 0 4px 16px #555;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  padding: 24px 24px 48px 24px;
  z-index: 1;
}

.performances > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  gap: 24px;
  justify-content: center;
}

.performances > h2 {
  color: var(--color-primary);
  text-align: center;
}
