.performances {
  display: flex;
  flex: 2 300px;
  flex-direction: column;
  gap: 24px;
}

.performances > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  gap: 24px;
}
