.footer {
  align-items: center;
  background: var(--color-primary);
  /* TODO: check color against bg */
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.footer small {
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    margin-bottom: 45px;
  }
}

@media (min-width: 1024px) {
  .footer a:hover {
    text-decoration: underline;
  }
}
