.home {
  --gutter: 24px;
  flex-wrap: wrap;
  gap: var(--gutter);
}

.home,
.home section,
.home article {
  display: flex;
  flex: 1;
}

.home article,
.home section {
  flex-basis: 200px;
  flex-direction: column;
  gap: var(--gutter);
}

.home h2 {
  color: var(--color-primary);
  font-weight: 500;
}
