.home {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.home > section:last-child {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 48px;
  margin: auto;
  max-width: 1048px;
  padding: 48px;
}
