.nav {
  /* background: var(--color-primary); */
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

.nav a {
  --active-color: #111;
  --active-background-color: var(--color-accent);
  --hover-background-color: var(--color-accent);
  --hover-color: #111;
  --text-color: #111;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 24px;
  position: relative;
}

.nav a:not(:last-child)::after {
  background: #111;
  content: '';
  position: absolute;
  right: 0;
  top: 35%;
  height: 30%;
  width: 1px;
}

@media (max-width: 768px) {
  .nav {
    background: rgb(60, 60, 60);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
  }

  .nav a {
    --text-color: #fff;
  }

  .nav a:not(:last-child)::after {
    background: transparent;
  }
}
