.performance {
  --radius: 24px;
  background: #fff;
  border-radius: var(--radius);
  box-shadow: 0 4px 8px #555;
  color: #111;
  display: flex;
  /* flex: 1 300px; */
  flex-direction: column;
  position: relative;
  transition: 0.3s cubic-bezier(0.59, -0.39, 0.42, 1.52);
}

.performance:hover {
  box-shadow: 0px 12px 24px #555;
  transform: scale(1.01);
}

.performance img {
  border-radius: var(--radius) var(--radius) 0 0;
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.info > div {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 8px;
}

.performance h3 {
  font-size: 1.6rem;
  text-align: center;
  color: var(--color-primary);
  text-transform: uppercase;
}

.performance time {
  color: #555;
  text-align: center;
}

.performance a {
  display: flex;
  flex: 1;
  margin-top: auto;
}

.performance button[class*='button'] {
  --transition-text: 0.4s cubic-bezier(0.54, -0.33, 0.39, 1.62);
  flex: 1;
}

.button-content {
  display: flex;
  flex: 1;
  padding: 8px;
}

.button-content span {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}
.button-content strong {
  align-items: center;
  display: flex;
  flex: 2;
  justify-content: center;
  text-transform: uppercase;
}

.button-content:hover svg {
  transform: rotate(5deg) scale(1.1);
}

.button-content:hover strong {
  transform: rotate(-5deg) scale(1.1);
}
