.performance {
  --radius: 24px;
  border-radius: var(--radius);
  box-shadow: 0 4px 8px #555;
  color: #111;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  transition: 0.3s cubic-bezier(0.59, -0.39, 0.42, 1.52);
}

.performance:hover {
  box-shadow: 0px 12px 24px #555;
  transform: scale(1.01);
}

.performance img {
  border-radius: var(--radius) var(--radius) 0 0;
}

.performance > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.performance h3 {
  font-size: 1.6rem;
  text-align: center;
}

.performance h3,
.performance h4 {
  color: var(--color-primary);
  text-transform: uppercase;
}

.performance a {
  display: flex;
  flex: 1;
}
