.performance {
  --radius: 24px;
  border-radius: var(--radius);
  box-shadow: 0 4px 8px #555;
  color: #111;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  position: relative;
  transition: 0.2s ease-out;
}

.performance::before {
  align-items: center;
  background: var(--color-primary);
  border-radius: var(--radius);
  color: #fff;
  content: 'GET TICKETS';
  display: flex;
  font-size: 2em;
  font-weight: 500;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: 0.2s ease-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.performance ul {
  padding: 12px;
}

.performance h3 {
  color: var(--color-primary);
}

.performance h3,
.performance h4 {
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .performance:hover::before {
    opacity: 0.93;
  }
}
