* {
  box-sizing: border-box;
  /* TODO: Select Font */
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  /* TODO: Set Theme Colors */
  --color-primary: #2c5f70;
  --color-secondary: #fff;
  --color-accent: #c4e9e7;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
